* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  min-width: 1000px;
  height: 100vh;
}
.grid {
  width: 90vh;
  height: 90vh;
  margin: auto;
  grid-template-columns: repeat(20, auto);
  border-top: 1px solid black;
  border-left: 1px solid black;
  display: none;
}
.cell {
  width: 100%;
  height: 100%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.cell:hover {
  background: blue;
}
.menu {
  width: 300px;
  padding: 10px;
  padding-bottom: 0px;
  border: 2px solid black;
  border-radius: 5px;
}
.buttons {
  color: white;
  background: blue;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  transition: 500ms;
}
.buttons:hover {
  text-indent: -15px;
  font-weight: bold;
  box-shadow: 5px 5px 10px black;
}
.selected {
  background: green;
}
.blocked {
  background: silver;
  color: rgba(100, 100, 100, 0.5);
  cursor: not-allowed;
}
.start {
  background: green;
  width: 100%;
  height: 100%;
}
.end {
  background: black;
  width: 100%;
  height: 100%;
}
.block {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
#endBtn:hover {
  cursor: not-allowed;
}
#wallBtn:hover,
#clearBtn:hover {
  margin-left: 100px;
}
#wallBtn:hover > .options {
  margin-left: -104px;
  background: red;
  color: white;
  font-weight: bold;
}
#clearBtn:hover > .options {
  margin-left: -104px;
  background: red;
  color: white;
  font-weight: bold;
}
.options {
  position: absolute;
  padding: 4px;
  width: 100px;
  transition: 500ms;
  margin-left: -204px;
  margin-top: -4px;
  border-radius: 5px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: none;
}
#weightMenu {
  background: palegreen;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 10px;
  grid-gap: 45px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
}
.weight {
  width: 30px;
  height: 30px;
  margin: auto;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  transition: 500ms;
  cursor: pointer;
  box-shadow: 0 0 1px 2px white;
}
.weight:hover {
  text-indent: -10px;
  font-weight: bold;
  box-shadow: 0 0 10px 10px;
}
#weight1 {
  background: silver;
}
#weight2 {
  background: gray;
}
#weight3 {
  background: slategray;
}
#weight4 {
  background: darkslategray;
}
.portfolioContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 60px;
}
.portfolio {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url(./img/dp.jpeg);
  position: relative;
  z-index: 1;
  background-size: cover;
  box-shadow: 5px 5px 20px -6px black;
  transition: 500ms;
  transform: rotate(-45deg);
  opacity: 0.1;
  border: 2px solid orange;
}
.portfolioContainer:hover .portfolio {
  transform: scale(1.1);
  transform: rotate(0deg);
  opacity: 1;
}
.content {
  width: max-content;
  overflow: hidden;
  background: orange;
  border-radius: 10px;
  transition: 500ms;
  position: relative;
  top: -50px;
  left: 30px;
  text-indent: 30px;
  padding: 10px;
  opacity: 0;
  transform: rotate(-45deg);
  transform-origin: left;
}
.portfolioContainer:hover .content {
  transform: scale(1.1);
  transform: rotate(0deg);
  opacity: 1;
}
a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 800px) {
  body {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    min-width: 0;
    margin-top: 75px;
  }
  .grid {
    width: 95vw;
    height: 95vw;
    margin: 0;
    margin-top: 20px;
  }
  .menu {
    width: 95vw;
    margin-top: 20px;
  }
  .portfolio {
    transform: scale(1.1);
    transform: rotate(0deg);
    opacity: 1;
  }
  .content {
    transform: scale(1.1);
    transform: rotate(0deg);
    opacity: 1;
  }
}
