* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 100vh;
}
.grid {
  width: 90vh;
  height: 90vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(20, auto);
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.cell {
  width: 100%;
  height: 100%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.cell:hover {
  background: blue;
}
.menu {
  width: 300px;
  padding: 10px;
  padding-bottom: 0px;
  border: 2px solid black;
  border-radius: 5px;
}
.buttons {
  color: white;
  background: blue;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  padding: 4px;
  cursor: default;
  transition: 500ms;
}
.buttons:hover {
  text-indent: -15px;
}
.selected {
  background: green;
}
.blocked {
  background: silver;
  color: rgba(100, 100, 100, 0.5);
  cursor: not-allowed;
}
